$headerColor:black;
$headerTextColor:white;

* {
  margin:0;
  padding:0;
}
#mainHeader {
  background-color:$headerColor;
  padding: 25px;

  h1 {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    color: $headerTextColor;
  }
}

.login {
  width:400px;
  height:550px;
  background:black;
  color:white;
  top:50%;
  left:50%;
  position:absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
}

#signup-page {
  width:70%;
  background-color:teal;
  background:teal;
}

button {
  width: 150px;
  height: 130px;
}
