{% extends "layout.html" %}

{% block pagetitle %}Search for Book|Book Summary{% endblock %}

{% block search %}
<li><a class="float-left mx-2" href="{{ url_for('search')}}">Search</a></li>
{% endblock %}

{% block signOut %}
<li><a class="float-right mx-2" href="{{ url_for('logoff')}}">Log Out</a></li>
{% endblock %}

{% block body %}
<!-- <h3></h3> -->
<br>
<br>
<div class="container">
  <ul class="float-center list-group">
    <li class="text-left list-group-item list-group-item-primary">ISBN No: <span><strong>{{ book.isbn }}</strong></span></li>
    <li class="text-left list-group-item list-group-item-secondary">Title: <span><strong>{{ book.title }}</strong></span></li>
    <li class="text-left list-group-item list-group-item-secondary">Author: <span><strong>{{ book.author }}</strong></span></li>
    <li class="text-left list-group-item list-group-item-secondary">Year: <span><strong>{{ book.year }}</strong></span></li>
  </ul>
  <hr>
</div>

<div class="container">
  <h2>Goodreads Information</h2>
  <p>Average Rating : {{ grAvgRating }} of Total {{ grReviewCount }} Ratings from Goodreads Users</p>
  <hr>
</div>

<div class="container">
    <h3 class="container">Book Reviews</h3>
    {% if bookreview %}
      <ol>
        {% for review, rating, fname, lname in bookreview %}
        <li>{{ review }} - {{ fname }} {{ lname }} - Rating {{ rating }}/5</li>
        {% endfor %}
      </ol>
    {% else %}
      <h1>No Review</h1>
    {% endif %}


    {% if debugCode !=1 %}
    <form class="text" action="{{url_for('book',book_id=book.id)}}" method="post">
      <input type="text" name="bookReview" placeholder="Enter Your Review">

      <div class="starRating">
        <input type="radio" id="star5" name="rate" value="5"/>
        <label for="star5" title="text">5 Stars</label>

        <input type="radio" id="star4" name="rate" value="4"/>
        <label for="star4" title="text">4 Stars</label>

        <input type="radio" id="star3" name="rate" value="3"/>
        <label for="star3" title="text">3 Stars</label>

        <input type="radio" id="star2" name="rate" value="2"/>
        <label for="star2" title="text">2 Stars</label>

        <input type="radio" id="star1" name="rate" value="1"/>
        <label for="star1" title="text">1 Star</label>
      </div>

      <button type="submit" name="button">Submit</button>

    </form>
    {% endif %}
</div>


{% endblock %}
