{% extends "layout.html" %}


{% block signUp %}<li><a class="float-left mx-2" href="{{ url_for('signup')}}">Sign Up</a></li> {% endblock %}

<!-- Title of the Webpage -->
{% block pagetitle %}Book Review App{% endblock %}

<!-- Body of the Webpage -->
{% block body %}

<div class="text-center">
    <form action="{{ url_for('login') }}" method="post">
        <input type="text" name="uid" placeholder="Enter Your User ID">
        <input type="password" name="password" placeholder="Enter Your Password">
        <button type="submit" name="button">Sign In</button>
    </form>
</div>
<hr>

{% endblock %}
