{% extends "layout.html" %}

{% block pagetitle %}Book Review|Search{% endblock %}

{% block search %}
<li><a class="float-left mx-2" href="{{ url_for('search')}}">Search</a></li>
{% endblock %}

{% block signOut %}
<li><a class="float-right mx-2" href="{{ url_for('logoff')}}">Log Out</a></li>
{% endblock %}

{% block body %}

<h3>Welcome to the WebApp. Pls search for the book that you want.</h3>
<div class="">
  <form action="{{ url_for('results') }}" method="post">
    <input type="text" name="searchStr" placeholder="Enter the ISBN Number, Title, or Author of the book you want to search for">
    <button type="submit" name="Search">Submit</button>
  </form>
</div>

{% endblock %}
