{% extends "layout.html" %}

<!-- Title of the Webpage -->
{% block pagetitle %}Book Review|Sign Up{% endblock %}

{% block body %}

<div class="text-center">
    <form action="{{ url_for('index') }}" method="post">
        <input type="text" name="fname" placeholder="Enter Your First Name">
        <input type="text" name="lname" placeholder="Enter Your Last Name">
        <input type="text" name="email" placeholder="Enter Your Email ID">
        <input type="text" name="uid" placeholder="Enter Your User ID">
        <input type="password" name="password" placeholder="Enter Your Password">
        <input type="password" name="password_chk" placeholder="Enter Your Password Again">
        <br>
        <button class="p-1 m-3" type="submit" name="button">Submit</button>
    </form>
</div>

{% endblock %}
